In [1]:
import numpy as np
import pandas as pd
from numpy import dot
from numpy.linalg import norm
import urllib.request
from sentence_transformers import SentenceTransformer

In [2]:
urllib.request.urlretrieve("https://raw.githubusercontent.com/songys/Chatbot_data/master/ChatbotData.csv", filename="ChatBotData.csv")
train_data_test = pd.read_csv('ChatBotData.csv')
train_data_test.head()

                 Q            A  label
0           12시 땡!   하루가 또 가네요.      0
1      1지망 학교 떨어졌어    위로해 드립니다.      0
2     3박4일 놀러가고 싶다  여행은 언제나 좋죠.      0
3  3박4일 정도 놀러가고 싶다  여행은 언제나 좋죠.      0
4          PPL 심하네   눈살이 찌푸려지죠.      0

In [3]:
train_data = pd.read_csv('노가다31.csv', encoding = 'cp949')
train_data.head()
train_data.tail()

,Q,T,"(일대일,다대다,다대일)",지속성,처분
171,"그런데 침익적 처분인 이 사건 제1처분의 경우, 행정청인 피고가 이전에 이 사건 ...",NaN,NaN,NaN,NaN
172,결국 이 사건 제1처분은 나머지 점에 관하여 더 나아가 살필 필요 없이 신뢰보호의...,NaN,NaN,NaN,NaN
173,이와 전제를 달리하는 원고의 주장도 이유 없다,NaN,NaN,NaN,NaN
174,결론,NaN,NaN,NaN,NaN
175,"그렇다면 이 사건 소 중 이 사건 제2처분의 취소청구 부분은 부적법하므로 각하하고,...",NaN,NaN,NaN,NaN

In [4]:
model = SentenceTransformer('sentence-transformers/xlm-r-100langs-bert-base-nli-stsb-mean-tokens')

In [5]:
train_data['embedding'] = train_data.apply(lambda row: model.encode(row.Q), axis = 1)

In [6]:
def cos_sim(T, B):
  return dot(T, B)/(norm(T)*norm(B))

In [7]:
def return_answer(question) :
    embedding = model.encode(question)
    train_data['score'] = train_data.apply(lambda x: cos_sim(x['embedding'], embedding), axis=1)
    return train_data.loc[train_data['score'].idxmax()]['T']

In [8]:
return_answer(' 이에 원고는 D의 뒷통수를 1회 때리고, 2회 벌을 세웠으며, 비밀을 유지하는 조건으로 돈을 받았다')

'신체폭력'